<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename= 'favicon.png') }}">
    <title>Final</title>
</head>
<body id="final">
    <!-- O header é onde fica o topo do site -->
    <header> 
        <h1 id="h1final">Final</h1>
        {{ usuario }}
    </header>   
    <form action="{{ url_for('final') }}">
        <button>Finalizar</button>
    </form>

    <!-- Rodapé do site -->
    <footer id="rodape">
        © 2022 - <strong>Fabrício Vale</strong>
    </footer>
</body>
</html>